* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sideBar {
  width: 240px;
  background-color: #f1f1fa;
  height: 100vh;
  box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.2);
}
.listUser {
  background-color: #f1f1fa;
  min-width: 300px;
  width: 30vw;
  height: 100vh;
}
