@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.container-items {
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  animation: 1s appear;
}

@keyframes appear {
  0% {
    translate: 0 30px;
    opacity: 0.4;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

.listUser {
  min-width: 320px;
  width: 30vw;
  height: 100vh;
  background-color: #eee;
  padding: 2rem;
  box-shadow: 10px 5px 20px hsl(0, 0%, 10%);
  /* text-align: center; */
}

.listUser h2 {
  font-size: 2.2vw;
  font-weight: bolder;
}

.user {
  display: flex;
  justify-content: right;
  gap: 1em;
  flex-wrap: wrap;
  width: 25vw;
}

.user-info {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  gap: 10px;
}

.pdp {
  width: 90px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: darkblue;
}

.pdp img {
  width: 100%;
  /* background-color: #ddd; */
}

.username {
  font-weight: bold;
  font-size: 1.72em;
  font-family: "Oswald";
}

.connected {
  font-size: 0.8em;
  font-weight: 200;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

.green-dot {
  color: hsl(120, 100%, 35%);
}
