@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --pdp: 4.75rem;
}

.container-items {
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  animation: 1s appear;
}

@keyframes appear {
  0% {
    translate: 0 30px;
    opacity: 0.4;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

.listUser {
  min-width: 320px;
  width: 30vw;
  height: 100vh;
  background-color: #eee;
  padding: 2rem;
  box-shadow: 10px 5px 20px hsl(0, 0%, 10%);
}

.listUser h2 {
  font-size: 22pt;
  font-weight: bolder;
}

.user,
.right,
.userCard {
  display: flex;
}

.user {
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  width: 25vw;
}

.user-info {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}

.pdp {
  width: var(--pdp);
  height: var(--pdp);
  min-width: var(--pdp);
  min-height: var(--pdp);
  border-radius: 50%;
  overflow: hidden;
  background-color: darkblue;
}

.pdp img {
}

.username {
  font-weight: bold;
  font-size: 1.72em;
  font-family: "Oswald";
}

.connected {
  font-size: 0.8em;
  font-weight: 200;
  font-style: italic;
}

.green-dot {
  color: hsl(120, 100%, 35%);
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0% {
    color: hsl(120, 100%, 25%);
  }
  50% {
    color: hsl(120, 100%, 35%);
  }
  100% {
    color: hsl(120, 100%, 25%);
  }
}

.show-more {
  border: none;
  background-color: transparent;
  scale: 2;
  margin-left: 0.5rem;
}

.show-more-dots {
  cursor: pointer;
  transition: all ease-in-out 200ms;
  border-radius: 50%;
  padding: 0.1rem;
}

.show-more-dots:hover {
  color: #eee;
  background-color: #000;
}

.details {
  background-color: #ddd;
  padding: 1rem 2rem;
  font-family: "Oswald";
  border-radius: 0 0 1rem 1rem;
  animation: showMore 1s;
}

@keyframes showMore {
  from {
    transform: scaleY(0);
    transform-origin: 60% 0;
  }
  to {
    transform: scaleY(1);
    transform-origin: 60% 0;
  }
}
