.Box {
  padding: 20px 15px;
}

.optBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.2em;
}

.optBox:hover {
  background-color: #fff;
}

.Box p {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-family: "Lato";
  font-size: 1.1em;
  color: #707070;
}
